body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: '8bit-wonder', sans-serif;
}

.start-button {
  font-family: '8bit-wonder', sans-serif;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #ffcc00;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.start-button:hover {
  transform: scale(1.1);
}

.hidden-elements {
  display: none;
}
